table{
    display:grid;
    row-gap: 0.5rem;
    column-gap: 1rem;
}


thead tr {
    display: grid;
    grid-template-columns: repeat(6,auto);
    column-gap: 3rem;
}

tbody tr {
    display: grid;
    grid-template-columns: repeat(6,auto);
    column-gap: 3rem;
}

