thead tr, tbody tr{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
}

main{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    row-gap: 3rem;
}

#tabTotal {
    display: flex;
    justify-content: space-evenly;
}


#formulaire {
    height: 200px;
    background: #f3e9f1;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 20px;

}

#coordonnées{
    display: grid;
}


fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


