thead tr, tbody tr{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
}

main{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    row-gap: 3rem;
    margin:50px;
    background: #f3e9f1;
    border-radius:20px;
}

#tabTotal {
    display: flex;
    justify-content: space-evenly;
}


#formulaire {
    height: 200px;
    background: #f3e9f1;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 20px;

}

#coordonnées{
    display: grid;
}


fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.btn_moin, .btn_plus{
    padding: 0px 2px 0px 2px;
    margin: 5px;
}