#container{
    display:grid;
    grid-template-areas: 
                "img img"
                "img img"
                "name price"
                "couleur qty"
    ;
    background: #f3e9f1;
    width:700px;
    height:500px;
    border-radius: 20px;

}

main {
    display: flex;
    justify-content: center;
}

img {
    grid-area: img;
    max-height:100%;
}

#couleur{
    grid-area: couleur;
    padding: 10px;
    text-align: center;
}

#price{
    grid-area: price;
    padding: 10px;
}

#name{
    grid-area: name;
    padding: 10px;
}

#Quantite{
    grid-area: qty;
    text-align: center;
}
