#container{
    display:grid;
    grid-template-areas: 
                "img img"
                "img img"
                "name price"
                "couleur qty"
    ;
    background: #f3e9f1;
    width:700px;
    height:500px;

}

main {
    display: flex;
    justify-content: center;
}

img {
    grid-area: img;
}

#couleur{
    grid-area: couleur;
}

#price{
    grid-area: price;
}

#name{
    grid-area: name;
}

#quantite{
    grid-area: qty;
}